.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock


.DS_Store
code/node_modules/
code/dist/
code/npm-debug.log*
code/yarn-debug.log*
code/yarn-error.log*
code/**/*.log

code/tests/**/coverage/
code/tests/e2e/reports
code/selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

code/package-lock.json
code/yarn.lock
